header .head-menu ul a#club {
  border-bottom: 3px solid #2c6af5;
}

.club-content {
  display: flex;
  justify-content: center;
}

.content-container {
  width: 1920px;
}

.club-content .content-clubs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 20px;
  padding: 0 60px;
}

.club-content .club-type-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 20px 0;
}

.club-content .club-type-name .title {
  font-size: 50px;
  font-weight: 600;
}

.club-content .club-type-name .subtitle {
  font-size: 20px;
  font-weight: 400;
}

.club-content .club-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 40px;
}

.club-content .club-card .club-img {
  height: 320px;
  background-color: #d8d8d8;
  border-radius: 20px;
  transition: box-shadow 0.3s;
}

.club-content .club-card:hover .club-img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.club-content .club-card .club-name {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  padding: 30px 0;
}
